html,body,section,h1,h2,p,article,header,img,nav,ul,ol,li,aside,figure,figcation,form,label,option,input,textarea,footer,select{
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: none;
  color: inherit;
  background: transparent;
}

select,input[type="radio"],input[type="submit"]{
  cursor: pointer;
  outline: none;
}

header img {
  float: left;
}

.clear-fix:after{
  display: block;
  clear: both;
  content: "";
}

input{
  background: white;
  opacity: 1;
}

input:last-child{
  background-color: gold;
}

input[type="radio"]{
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background-image: url(./stars.png);
}

input[type="radio"]:checked{
  background-position: 30px 30px;
}

input:last-child:hover{
  -webkit-filter: brightness(90%);
}

ol li:nth-of-type(2n){
  background: whitesmoke;
}

h2 + .user_review{
  border-top: 1px solid black;
}

img{
  display: inline;
}

nav{
  float: right;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  padding: 20px;
  display: block;
}

body{
  margin: 0 auto;
  width: 100%;
}

aside{
  display: inline-block;
}

select{
  margin: 15px;
  width: 200px;
}

input["text"]{
  width: 100px;
}

textarea{
  width: 350px;
}

h1{
  font-size: 38px;
}

h2{
  font-size: 30px;
}
